// Configuration read from polymake-config during build phase.
POLYMAKE_CFLAGS = -fPIC -ftemplate-depth-200 -Wall -Wno-strict-aliasing -Wno-parentheses -O3 -DPOLYMAKE_DEBUG=0
POLYMAKE_LDFLAGS = -L/Volumes/Polaris/local/lib -L/sw/lib -flat_namespace
POLYMAKE_LIBS = -lpolymake -lpolymake-apps -lgmp  -L/sw/lib -lxml2 -lz -lpthread -L/sw/lib -liconv -lm
POLYMAKE_INCLUDES = -I/Volumes/Polaris/local/include -I/sw/include
